main {
    .main{
        margin: 5px 2px 5px 2px;
        border-radius: 5px;
        background-color: #B3C8CF;
        padding: 10px 5px 5px 5px;

        .row1 {
            /* border: 1px solid slateblue; */
            border-radius: 5px;
            padding: 5px;
            display: flex;
            gap: 3px;

            .box1 {
                background-color: #EEEEEE;
                border: 1px solid #ddd;
                /* padding: 20px; */
                height: 300px;
                position: relative;
                flex-grow: 1;
                min-width: 220px;
                max-width: 800px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 3px;
                .chart {
                    width: 100%;
                    height: auto;
                    /* margin: 0 auto; */
                    border: 1px solid teal;
                }

                h4 {
                    font-size: 20px;
                    color: #4f4f4f;
                }

                p {
                    position: relative;
                    bottom: 10px;
                    color: #1d1d1dc6;
                }

                .dropdown-button {
                    position: relative;
                    border: 1px solid #dddddd48;
                    border-radius: 5px;
                    align-items: center;
                    bottom: 24px;
                    left: 50px;
                    width: 5%;
                    background-color: transparent;
                    cursor: pointer;

                    img {
                        width: 20px;
                    }
                }
                .dropdown {
                    position: relative;
                    margin-top: 10px;
                }
                
                .dropdown-menu {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: none; /* Initially hidden */
                    position: absolute;
                    top: -60px;
                    left: 50px;
                    width: 17%;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    z-index: 1000;
                }
                .dropdown-menu li {
                    padding: 10px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                }
                .dropdown-menu li:hover {
                    background-color: #f0f0f0;
                }
            }

            .box2 {
                background-color: #EEEEEE;
                border: 1px solid #ddd;
                padding: 20px;
                height: 300px;
                position: relative;
                min-width: 320px;
                max-width: 500px;
                flex-grow: 1;

                h4 {
                    font-size: 20px;
                    color: #4f4f4f;
                }
                
                .product{
                    display: flex;
                    justify-content: space-around;
                    
                    .one {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 30px;
                        p{
                            font-size: 24px ;
                            color: #1d1d1dc6;
                        }
                        span {
                            font-size: 35px;
                        }
                
                    }
                }
            }
        }


        .row2 {
            background-color: #EEEEEE;
            border: 1px solid #ddd;
            padding: 20px 3px 3px 3px;
            margin-inline: 5px;
            
            .order{
                h4 {
                    margin-left: 20px;
                    font-size: 20px;
                    color: #4f4f4f;
                }
            }
            .order-container {
                display: flex;
                gap: 4px;   

                .box {
                    min-width: 145px;
                    max-width: 400px;
                    flex-grow: 1;
                    border-radius: 5px;
                    border: 1px solid #4f4f4f25;
                    background-color: #4f4f4f25;
                    
                    h3 {
                        color: #4f4f4f;
                        padding: 5px 5px 5px 5px;
                        background-color: #eeeeeeec;
                    }
                    span {
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 20px;
                        padding: 5px 5px 5px 10px;
                    }
                }             
            }
        }
    }
}