main {    
    .header {
        .searchbar {
            form {
                input {
                    width: 100vh;
                    padding: 3px;
                    padding-left: 15px;
                    border: 1px solid gray;
                    border-radius: 5px 0 0 5px;
                }
                button {
                    position: relative;
                    right: 5px;
                    width: 50px;
                    padding: 3px 2px 3px 2px;
                    border-left: none;
                    border-radius: 0 5px 5px 0;
                    cursor: pointer;
                    background-color: #89A8B2;
                    color: white;
                    border: 1px solid gray;
                }
                button:hover {
                    border: 1px solid #1F509A;
                    border-left: none;
                }
            }
        }
    }
    .main{
        margin: 5px 2px 5px 2px;
        border-radius: 5px;
        background-color: #B3C8CF;
        padding: 10px 5px 5px 5px;
        
      .orders-details{
        height: 100px;
        display: flex;
        gap: 20px;
        padding: 5px;
        background-color: #EEEEEE;

        .box {
            display: flex;
            border: 1px solid slategrey;
            align-items: center;
            border-radius: 5px;
            width: 160px;
            padding: 6px;
            gap: 5px;
            img{
                padding: 2px 3px 4px 2px;
                border-radius: 5px;
                width: 40px;
                height: 40px;
                background-color: #c1c1c1ce;
            }
            .text {
                p{
                    font-size: 14px;
                }
                .val {
                    font-size: 24px;
                }
            }
        }
      }
      .tab-content { display: none; }
      .tab-content.active { display: block; }

      .table-orders {
        margin-top: 2px;
        display: flex;
        flex-direction: column;
        background-color: #f9f9f9;
        
        .container {
            padding-top: 7px;
            h2 {
                margin-left: 10px;
                margin-bottom: 5px  ;
            }

            .tabs{
                display: flex;
                justify-content: center;

                button {
                    font-weight: 600;
                    font-size: 15px;
                    border-left: 1px solid slategrey;
                    border-top: 1px solid slategrey;
                    border-right: 1px solid slategrey;
                    border-bottom: none;
                    border-radius: 3px 3px 0 0;
                    padding: 5px;
                    cursor: pointer;
                    width: 200px;
                    background-color: #b5b5b5;
                }
                button:focus {
                    background-color: #EEEEEE;
                    color: #1F509A;
                }
            }
    
            .tab-content {
                color: #1F509A;
                border-top: 1px solid slategrey;
                width: 100%;
            }   

            #table0, #table1, #table2, #table3, #table4, #table5 {
                table {
                    border: 1px solid gray;
                    border-collapse: collapse;

                    thead {
                        tr {
                            th {
                                width: 200vw;
                                padding: 3px;
                                border: 1px solid gray;
                                text-align: center;
                                color: #1d1d1d;
                            }
                        }
                    }
                    tbody {
                        tr {
                            .one {
                                color: #1d1d1d6c;
                            }
                            .two {
                                padding-block: 2px;
                                
                                img {
                                    width: 60px;
                                    height: 60px;
                                    border-radius: 3px;
                                    border: 1px solid gray;
                                }
                                p {
                                    color: #1f509aa1;
                                }
                            }
                            .nine {
                                display: flex;
                                flex-direction: column;
                                gap: 1px;
                                padding-block: 1px;

                                a {
                                    width: 100px;
                                    text-decoration: none;
                                    border: 1px solid gray;
                                    border-radius: 2px ;
                                    padding-block:1px;
                                }
                                .button1 { background-color: #1F509A; color: white;}
                                .button2 { background-color: rgba(0, 100, 0, 0.809);  color: white;}
                                .button3 { background-color: rgba(139, 0, 0, 0.809);  color: white;}
                            }
                            td {
                                align-items: center;                                cursor: default;
                                color: #1d1d1dcc;
                                font-weight: 600;
                                text-align: center;

                            }
                        }
                    }
                }
            }
        }
      }
    }
}


/* modal */
.modalButton {
    border-radius: 3px;
    background-color: #1f509ad0;
    color: white;
    padding: 5px;
    width: 140px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;

    img {
        width: 20px;
    }
}


.modalButton:hover {
    background-color: #323232;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    overflow: auto;
}


.modal-content {
    margin: 15% auto;
    width: 50%; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px; 

    .add {
        background-color: #3763a5;
        padding: 10px;
        color: white;
    }
    .content {
        background-color: #fff;
        padding: 5px;
        
        input {
            margin-left: 20px;
        }
        button {
            margin-top: 5px;
            padding: 5px;
            width: 70px;
        }
    }
}


.close {
    color: #aaa; 
    float: right; 
    font-size: 28px; 
    font-weight: bold; 
    cursor: pointer; 
}

.close:hover,
.close:focus {
    color: rgba(255, 0, 0, 0.73);
    text-decoration: none; 
}