@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
::-webkit-scrollbar {
    display: none;
}

html, body {
    -ms-overflow-style: none;
}

*{
    scrollbar-width: none; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.cart {
    width: 100%;
    
    .title h2{
        padding-top: 70px;
        padding-left: 90px;
        font-family: Montserrat;
        font-weight: 300;
        font-size: 2em;
        letter-spacing: 0.30em;
        margin-bottom: 40px;
    }
    
    .carts {
        width: 100%;
        height: 90vh;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: start;

        .cart-container {
            width: 65%;
            height: 100%;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .card-block {
                width: 100%;
                height: 100%;
                overflow: auto;
                --card-height: 200px;

                .card {
                    width: 100%;
                    height: var(--card-height);
                    padding: 10px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 20px;            

                    .img-block {
                        width: 200px;
                        height: 100%;
                        padding: 10px;
                        background: #DFE099;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .card-info {
                        width: 65%;
                        height: var(--card-height);
                        padding: 10px 0;
                        overflow: auto;
                        display: flex;
                        justify-content: space-around;
                        flex-direction: column;

                        .card-top {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                        }

                        .card-bottom {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 30px;

                            a {
                                text-decoration: none;
                                color: red;

                            }
                        }
                    }
                }

                .empty-card {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 10px;

                    a {
                        padding: 5px 20px;
                        background: black;
                        color: white;
                        border-radius: 10px;
                        text-decoration: none;
                    }
                }
            }
        }

        .order-summary {
            width: 30%;
            height: 100%;
            padding: 10px 20px;  
            background: #DFE099;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            /* *{border: 1px solid red;} */

            .summary {
                width: 100%;
                display: flex;
                align-items: start;
                flex-direction: column;
                
                h2 {
                    padding: 30px 0;
                }

                .details {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    p {
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }

            .total {
                height: auto;
                padding-top: 30px;
                border-top: 1px solid black;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 10px;

                p {
                    display: flex;
                    justify-content: space-between;
                }

                a {
                    padding: 10px 20px;
                    background: black;
                    text-align: center;
                    
                    button {
                        color: white;
                        background: none;
                        border: none;
                        cursor: pointer;
                    }
                }
                form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                label {
                    width: 100%;;
                    text-align: left;
                }

                input {
                    background: none;
                    border: none;
                    border-radius: 0;
                    outline: none;
                    border-bottom: 1px solid black;
                    padding: 5px;
                }
                textarea {
                    background: none;
                    border-radius: 0;
                    outline: none;
                    border: 1px solid black;
                    padding: 5px;
                }
            }
        }
    }
}


/* 
main {
    .cart {

        .title h2{
            padding-top: 70px;
            padding-left: 90px;
            font-family: Montserrat;
            font-weight: 300;
            font-size: 2em;
            letter-spacing: 0.30em;
            margin-bottom: 40px;
        }

        .items {
            border-top: 1px solid gray;

            .options {
                height: 50px;
                padding: 5px 30px;
                margin-top: 20px;
                margin-bottom: 50px;
                border: 1px solid grey;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                
                
                .one {
                    display: flex;
                    #deleteBtn {
                        padding: 3px;
                        border-radius: 3px;
                        background-color: red;
                        color: white;
                        cursor: pointer;
                        width: 100px;
                    }

                }

                .two {
                    display: flex;
                    flex-direction: row;
                }

                .total { 
                    gap: 10px;
                    position: right;
                    right: 0;
                    display: flex;
                    align-items: center;

                    a{

                        button{
                            width: 100px;
                            height: 30px;
                            color: white;
                            border-radius: 5px;
                            background-color: grey;
                        }
                    }
                }
            }

            table {
                border-collapse: collapse;
                width: 100%;
                thead {
                    tr {
                        th {
                            border: 1px solid black;
                            padding: 3px;
                        }
                    }
                }
                tbody {
                    tr {
                        border: 1px solid darkgrey;
                        margin-bottom: 3px;

                        
                        td {
                            text-align: center;
                            padding: 5px;

                            .empty {
                                border: 1px solid gray;
                                border-radius: 3px;
                                padding: 3px;
                                width: 100px;
                                text-decoration: none;
                                margin: 20px;
                                background-color: darkgoldenrod;
                                color: white;
                            }
                            .empty:hover {
                                background-color: dakr;
                            }

                            img {
                                width: 100px;
                                height: 100px;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
} */
