* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}
#remember {
    position: relative;
    bottom: 20px;
    right: 120px;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-section {
    flex: 1;
    display: none; /* Hidden on small screens */
    border-radius: 15px 0 0 15px;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.form-section {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.exit {
    text-align: right;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}
.exit:hover { 
    color: red;
}

h2 {
    margin-bottom: 20px;
}
form {
    height: 100%;
    gap: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .input-group{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .input-block {
            width: 48%;
        }
    }
    .input-block {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        label {
            font-size: 0.8rem;
        }

        input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    }
}

a.forgot-password {
    margin-bottom: 20px;
    text-align: left;
    color: #007bff;
    text-decoration: none;
    font-size: 12px;
}

a.forgot-password:hover {
    text-decoration: underline;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}


@media (min-width: 768px) {
    .form-section {
        height: 90vh;
    }
    h2 { margin-bottom: 10px;}
    form label{ margin-bottom: 2px;}
    form input {
        padding: 5px; 
        margin-bottom: 7px;
        border-radius: 3px;
    }
    button {
        padding: 5px;
        border-radius: 3px;
        font-size: 16px;
    }
    .image-section {
        display: block; /* Visible on larger screens */
    }
}