@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
::-webkit-scrollbar {
    display: none;
}

html, body {
    -ms-overflow-style: none;
    background: #F9F9F9;
}

*{
    scrollbar-width: none; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user-main-content {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: start;

    aside {
        max-width: 300px;
        width: 20%;
        height: 100%;

        nav {
            width: 100%;
            height: 100%;
            padding: 50px 0 30px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .links {
                width: 100%;

                a:hover {
                    color: white;
                    background: #898989;
                }
            }

            a {
                width: 100%;
                padding: 15px 20px;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 10px;
                color: black;
                text-decoration: none;
                transition: all 300ms;

                i {
                    width: 20px;
                    height: 100%;
                }
            }
        }
    }

    .user-content {
        width: 80%;
        height: 100%;
        padding: 20px;
        background: white;
        border-radius: 20px 0 0 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

/* .main {
    display: flex;
}

aside {
    height: 100vh;
    width: 20%;  

    .sidenav {
        .logo-title {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            img {
                width: 80px;
                border: 1px solid black;
                border-radius: 100px;
            }
            h2 {
                font-size: 16px;
                font-weight: 500;
                line-height: 10px;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            margin-top: 25px;
            margin-left: 30px;

            a {
                text-decoration: none;
                color: black;
                margin-top: 3px;
                margin-right: 5px;
                li{
                    list-style: none;
                    padding: 5px;
                    padding-left: 20px;
                    margin: 3px;
                    h3 {
                        font-size: 15px;
                        font-weight: 600;
                        font-family: monospace;
                    }
                }   
                .logout { 
                    display: flex;
                    gap: 10px;
                }
                .logout:hover { color: rgb(248, 76, 76); }
            }
        }
    } 
}

main {
    background-color: rgb(224, 224, 224);
    height: 100vh;
    width: 80%;
    border: 1px solid blue;
} */
