::-webkit-scrollbar {
    display: block;
}

.mydesign {
    h2 {
        text-align: center;
        font-size: 2rem;
        margin-top: 20px;
        color: #333;
    }
    
    .design-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        overflow: auto;
        scrollbar-width: 2px !important;
    }
    .design-container::-webkit-scrollbar {
        width: 8px;
    }
    
    .design-container::-webkit-scrollbar-track {
        background: #ddd;
        border-radius: 10px;
    }
    
    .design-container::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }
    
    .design-container::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    
    .design-card {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 850px;
        height: 500px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .canvas-container {
        flex: 1;
        min-width: 50%;
        height: auto;
        background: #f0f0f0;
        border-right: 2px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .design-details {
        height: 100%;
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        overflow: auto !important;
    }
    
    .design-details h3 {
        margin: 0;
        font-size: 1.3rem;
        font-weight: bold;
        color: #222;
    }
    
    .design-details p {
        margin: 4px 0;
        font-size: 1rem;
        color: #555;
    }
    
    .spec-label {
        font-weight: bold;
        color: #222;
    }
    
    .spec-list {
        margin: 0;
        padding-left: 20px;
        list-style-type: disc;
        font-size: 0.95rem;
        color: #444;
    }
}


@media (max-width: 768px) {
    .mydesign {
        .design-card {
            width: 90%;
            margin: auto;
            flex-direction: column;
            align-items: center;
        }
    
        .canvas-container {
            width: 100%;
            border-right: none;
            display: block !important;
            justify-content: center;
            align-items: center;
            height: 200px;
        }
    
        .design-details {
            width: 100%;
            text-align: center;
        }
    }
}