.user-account {
    .user-content {
        height: 100%;
    }

    form { 
        height: 75vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
        overflow: auto;
        
        .user-image {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
    
            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .input-container {
            fieldset {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                .input-block {
                    width: 50%;
                }
            }
        }
        fieldset {
            width: 100%;
            border: none;

            .input-block {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 10px;
            }
            input {
                padding: 10px;
                margin-left: 20px;
                border: none;
                background: #ebebeb;
            }
        }

        button[type="submit"] {
            padding: 10px;
            background: black;
            color: white;
            border: none;
            cursor: pointer;
        }
    }
}

@media (max-width: 992px) {
    .user-account {
        form {
            .input-container fieldset {
                flex-wrap: wrap;

                .input-block {
                    width: 100%;
                }
            }

            fieldset input {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}